<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @plan.user %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @plan.notes %>
</p>

<p>
  <strong>From date:</strong>
  <%= @plan.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @plan.to_date %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
